@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans.woff2") format("woff2"), url("../fonts/ptsans.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsansbold.woff2") format("woff2"), url("../fonts/ptsansbold.woff") format("woff");
  font-display: swap;
}
body {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  color: #000000;
  min-height: 100%;
  font-size: 18px;
  line-height: 21px;
  background-color: #ffffff;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

a {
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-family: inherit;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  align-items: center;
  border: none;
}

.main-header {
  background-color: #ffffff;
  min-height: 56px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 320px;
}

.main-header__logo {
  margin-left: 67px;
  margin-bottom: -40px;
  z-index: 1;
}

.main-nav__wrapper {
  display: none;
}

.main-nav__toggle {
  background-color: #ffffff;
  padding-right: 20px;
  padding-top: 20px;
}

.main-container {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  flex-grow: 1;
  margin: 0 auto;
  min-height: 100%;
  width: 320px;
}

.hero {
  display: flex;
  flex-direction: column;
  background-color: #766357;
  min-height: 389px;
  justify-content: center;
  align-items: center;
  background-image: url("../img/intro-triangle.svg"), url("../img/back-mobile.jpg");
  background-position: bottom, top;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.advantages__list {
  margin: 0;
  padding-left: 0;
}

.advantages__item {
  list-style: none;
}

.advantages__item--left {
  padding-left: 60px;
}

.advantages__intro-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../img/intro-triangle.svg");
  background-position: bottom;
  background-color: #ffffff;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.advantages__title {
  padding-top: 35px;
  padding-left: 18px;
  padding-right: 18px;
  padding-bottom: 11px;
}

.advantages__info {
  padding-top: 17px;
  padding-left: 18px;
  padding-right: 18px;
  padding-bottom: 40px;
}

.advantages__header {
  position: relative;
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
}

.advantages__item-contrast {
  color: #ffffff;
  background-color: #81b3d2;
}

.advantages__link {
  display: flex;
}

.advantages__description {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
}

.advantages__number {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
}

.advantages__header-plus {
  text-align: left;
}

.advantages__description-plus {
  text-align: left;
}

.advantages__icon-home {
  position: absolute;
  left: -49px;
  display: block;
  background-image: url("../img/icon-house.svg");
  background-repeat: no-repeat;
  min-height: 40px;
  min-width: 40px;
}

.advantages__icon-food {
  position: absolute;
  left: -49px;
  display: block;
  background-image: url("../img/icon-burger.svg");
  background-repeat: no-repeat;
  min-height: 40px;
  min-width: 40px;
}

.advantages__icon-gift {
  position: absolute;
  left: -49px;
  display: block;
  background-image: url("../img/icon-gift.svg");
  background-repeat: no-repeat;
  min-height: 40px;
  min-width: 40px;
}

.advantages__additional {
  background-color: #eeeeee;
}

.advantages__additional:not(:last-child) {
  border-bottom: 1px solid #d6d6d6;
}

.search {
  padding-top: 38px;
  padding-left: 18px;
  padding-right: 18px;
  padding-bottom: 35px;
}

.search__wrapper {
  display: flex;
  flex-direction: column;
}

.search__header {
  margin: 0;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
}

.search__description {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
  padding-top: 38px;
  padding-bottom: 32px;
}

.search__button {
  background-color: #81b3d2;
  width: 100%;
  min-height: 58px;
}

.map__wrapper {
  overflow: hidden;
  padding-bottom: 100%;
  position: relative;
  height: 0;
}

.map__wrapper iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.main-footer__wrapper {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  width: 320px;
  padding-top: 30px;
  padding-left: 18px;
  padding-right: 18px;
  padding-bottom: 23px;
}

.social__title {
  align-items: center;
  margin: 0;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.social__list {
  display: flex;
  min-width: 156px;
  margin: 0;
  justify-content: space-between;
  padding-left: 0;
  align-items: center;
  list-style: none;
  margin-top: 38px;
}

.social__link {
  display: flex;
  min-height: 48px;
  min-width: 48px;
  align-items: center;
  justify-content: center;
  background-color: #81b3d2;
  cursor: pointer;
}

.main-footer__copyright {
  margin-top: 38px;
  display: flex;
  gap: 12px;
}

.copyright__text {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.copyright__link {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.feedback__title {
  padding-top: 35px;
  padding-left: 18px;
  padding-right: 18px;
  padding-bottom: 28px;
}

.feedback__info {
  padding-left: 18px;
  padding-right: 18px;
  padding-bottom: 40px;
  border-bottom: 1px solid #d6d6d6;
}

.feedback__header {
  position: relative;
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
}

.feedback__description {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
}

.hero-form {
  display: flex;
  flex-direction: column;
  background-color: #766357;
  min-height: 160px;
  justify-content: center;
  align-items: center;
  background-image: url("../img/intro-triangle.svg"), url("../img/back-mobile.jpg");
  background-position: bottom, bottom;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.form__legend {
  margin: 0;
  padding-top: 24px;
  padding-bottom: 24px;
}

.form__name {
  margin: 0;
  border: none;
  display: flex;
  flex-direction: column;
  min-width: 280px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}

.form__phone-icon {
  min-height: 58px;
  min-width: 58px;
  background-color: #e6e6e6;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../img/phone.svg");
}

.form__email-icon {
  min-height: 58px;
  min-width: 58px;
  background-color: #e6e6e6;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../img/mail.svg");
}

.input__wrapper {
  display: flex;
  justify-content: flex-end;
}

.form__name:nth-last-child(n+3) {
  padding-bottom: 39px;
  border-bottom: 1px solid #d6d6d6;
}

.form__list {
  padding-left: 0;
  margin: 0;
}

.form__item {
  margin: 0;
  list-style: none;
  padding-left: 0;
}

.form__label {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  padding-left: 16px;
}

.form__label-check {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: capitalize;
}

.form__input {
  width: 44px;
  height: 44px;
  margin-left: -15px;
}

.form__item-mark {
  position: absolute;
  top: 2px;
  left: -1px;
  width: 46px;
  height: 46px;
  border-radius: 4px;
  background-color: #f2f2f2;
  border: 2px solid #f2f2f2;
}

.form__label-check {
  display: flex;
  justify-content: flex-start;
  gap: 16px;
}

.form__input[type=checkbox]:checked + .form__item-mark::before,
.form__input[type=checkbox]:checked + .form__item-mark::after {
  position: absolute;
  top: 8px;
  left: 11px;
  width: 0;
  height: 2px;
  background-color: #333333;
  content: url("../img/tick.svg");
}

.form__input[type=radio] + .form__item-mark {
  border-radius: 50%;
}

.form__input[type=radio]:checked + .form__item-mark::before {
  position: absolute;
  top: 13px;
  left: 13px;
  width: 16px;
  height: 16px;
  background-color: #333333;
  border-radius: 50%;
  content: "";
}

.form__feedback-button {
  background-color: #81b3d2;
  width: 100%;
  min-height: 58px;
  margin-top: 56px;
}

.form__note {
  display: flex;
  justify-content: flex-end;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

.input {
  background-color: #f2f2f2;
  border: none;
  min-height: 58px;
  min-width: 280px;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  padding-left: 16px;
}

.input__contact {
  min-height: 58px;
  min-width: 222px;
  color: rgba(0, 0, 0, 0.3);
}

.field {
  background-color: #f2f2f2;
  border: none;
  min-height: 150px;
  min-width: 280px;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  padding: 16px;
}

.modal-error___wrapper {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.modal-error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 45px 41px 45px 41px;
  background-color: #ffffff;
  width: 320px;
  box-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15);
}

.modal-error__header {
  margin: 0;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}

.modal-error__description {
  margin: 0;
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
}

.modal-error__title {
  padding-bottom: 25px;
}

.modal-error__info {
  padding-bottom: 25px;
}

.modal-error__button {
  background-color: #81b3d2;
  width: 180px;
  min-height: 58px;
}

.modal-error--close {
  display: none;
}

.modal-info__wrapper {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.modal-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 45px 41px 45px 41px;
  background-color: #ffffff;
  width: 320px;
  box-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15);
}

.modal-info__header {
  margin: 0;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}

.modal-info__description {
  margin: 0;
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
}

.modal-info__title {
  padding-bottom: 25px;
}

.modal-info__info {
  padding-bottom: 25px;
}

.modal-info__button {
  background-color: #81b3d2;
  width: 180px;
  min-height: 58px;
}

.modal-info--close {
  display: none;
}

.catalog__main-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.catalog__wrapper {
  list-style: none;
}

.catalog__list {
  margin: 0;
  list-style: none;
  padding-left: 0;
}

.catalog__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 24px;
  width: 320px;
  border-bottom: 1px solid #d6d6d6;
}

.catalog__rate-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  gap: 16px;
  padding-top: 16px;
  padding-bottom: 25px;
  padding-right: 217px;
}

.catalog__icon {
  min-height: 25px;
  min-width: 25px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../img/like-icon.svg");
}

.catalog__rate {
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
}

.catalog__title {
  padding-top: 15px;
  padding-left: 0;
  padding-right: auto;
}

.catalog__main-title {
  padding-top: 35px;
  padding-left: 18px;
  padding-right: 18px;
  padding-bottom: 28px;
}

.catalog__main-info {
  padding-left: 18px;
  padding-right: 18px;
  padding-bottom: 40px;
  border-bottom: 1px solid #d6d6d6;
}

.catalog__header {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}

.catalog__description {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

.catalog-video__wraper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.catalog-video__title {
  padding-top: 35px;
  padding-left: 18px;
  padding-right: 18px;
  padding-bottom: 28px;
}

.catalog-video__info {
  padding-left: 18px;
  padding-right: 18px;
  padding-bottom: 40px;
}

.catalog-video__header {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}

.catalog-video__description {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
}

.catalog-video__icon {
  position: absolute;
  top: 256px;
  z-index: 1;
  min-height: 54px;
  min-width: 48px;
  background-image: url("../img/icon-video.svg");
  background-repeat: no-repeat;
}
/*# sourceMappingURL=style.css.map */