.advantages__list {
  margin: 0;
  padding-left: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.advantages__item {
  list-style: none;
}

.advantages__item--reverse {
  display: flex;
  flex-direction: column-reverse;

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }
}

.advantages__item--left {
  padding-left: 50px;

  @media (min-width: $tablet-width) {
    padding-left: 0;
    width: 33.33%;
  }
}

.advantages__link {
  @media (min-width: $tablet-width) {
    width: 100%;
  }
}

.advantages__intro-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}

.advantages__item-triangle {
  position: relative;

  &::before {
    content: url("../img/rectangle.svg");
    position: absolute;
    top: -15px;

    @media (min-width: $tablet-width) {
      content: none;
    }
  }
}

.advantages__item-wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 256px;
    width: 256px;
    padding-left: 20px;
    padding-right: 20px;
  }


  @media (min-width: $tablet-width) {
    width: 256px;
    flex: 0 0 256px;
  }

  @media (min-width: $desktop-width) {
    width: 400px;
    flex: 0 0 400px;
  }
}

.advantages__title {
  padding-top: 33px;
  padding-left: 22px;
  padding-right: 26px;
  padding-bottom: 34px;

  @media (min-width: $tablet-width) {
    padding-top: 46px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 60px;
    padding-bottom: 0;
  }
}

.advantages__title-contrast {
  padding-top: 54px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 11px;

  @media (min-width: $tablet-width) {
    padding-top: 68px;
    padding-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.advantages__title-plus {
  padding-top: 33px;
  padding-left: 15px;
  padding-right: 26px;
  padding-bottom: 16px;

  @media (min-width: $tablet-width) {
    padding-top: 56px;
    padding-bottom: 20px;
  }
}

.advantages__number {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 20px;
}

.advantages__info {
  padding-left: 20px;
  padding-right: 10px;
  padding-bottom: 33px;

  @media (min-width: $tablet-width) {
    padding-bottom: 52px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 10px;
    padding-top: 28px;
    padding-bottom: 59px;
  }
}

.advantages__info-contrast {
  padding-left: 18px;
  padding-right: 11px;
  padding-bottom: 35px;

  @media (min-width: $tablet-width) {
    padding-left: 0;
    padding-right: 0;
  }
}

.advantages__info-plus {
  padding-left: 11px;
  padding-right: 11px;
}

.advantages__description-plus--bottom {
  padding-bottom: 44px;
}

.advantages__header {
  position: relative;
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 21px;
    line-height: 26px;
  }
}

.advantages__item-contrast {
  color: #ffffff;
  background-color: $primary;

  @media (min-width: $tablet-width) {
    display: flex;
    min-height: 256px;
    width: 100%;
  }
}

.advantages__description {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
}

.advantages__header-plus {
  text-align: left;

  @media (min-width: $tablet-width) {
    text-align: center;
    font-size: 21px;
    line-height: 26px;
  }
}

.advantages__description-plus {
  text-align: left;

  @media (min-width: $tablet-width) {
    text-align: center;
  }
}

.advantages__image {
  display: block;

  @media (min-width: $tablet-width) {
    width: 100%;
    object-fit: unset;
    height: 256px;
  }
}

.advantages__icon-home {
  position: absolute;
  left: -46px;
  top: -10px;
  display: block;
  background-image: url("../img/icon-house.svg");
  background-repeat: no-repeat;
  min-height: 40px;
  min-width: 40px;

  @media (min-width: $tablet-width) {
    position: static;
    text-align: center;
    background-size: contain;
    background-position: center;
    margin-bottom: 26px;
    min-height: 77px;
    min-width: 77px;
  }
}

.advantages__icon-food {
  position: absolute;
  left: -46px;
  top: -8px;
  display: block;
  background-image: url("../img/icon-burger.svg");
  background-repeat: no-repeat;
  min-height: 40px;
  min-width: 40px;

  @media (min-width: $tablet-width) {
    position: static;
    text-align: center;
    background-position: center;
    background-size: contain;
    margin-bottom: 26px;
    min-height: 77px;
    min-width: 77px;
  }
}

.advantages__icon-gift {
  position: absolute;
  left: -42px;
  top: -7px;
  display: block;
  background-image: url("../img/icon-gift.svg");
  background-repeat: no-repeat;
  min-height: 40px;
  min-width: 40px;

  @media (min-width: $tablet-width) {
    position: static;
    text-align: center;
    background-position: center;
    background-size: contain;
    margin-bottom: 26px;
    min-height: 77px;
    min-width: 77px;
  }
}

.advantages__additional {
  background-color: #eeeeee;
}

.advantages__additional--line::after {
  content: "";
  display: block;
  width: 284px;
  height: 1px;
  margin-right: 18px;
  margin-left: 18px;
  background-color: #d6d6d6;

  @media (min-width: $tablet-width) {
    content: none;
  }
}

.breaker {
  display: block;

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.breaker--desktop {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}
