.advantages__list {
  margin: 0;
  padding-left: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.advantages__link {
  @media (min-width: $tablet-width) {
    width: 100%;
  }
}

.advantages__item {
  list-style: none;
}

.advantages__item--reverse {
  display: flex;
  flex-direction: column-reverse;

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }
}

.advantages__item--triangle {
  position: relative;

  &::before {
    content: url("../img/rectangle.svg");
    position: absolute;
    top: -15px;

    @media (min-width: $tablet-width) {
      content: none;
    }
  }
}

.advantages__title--intro {
  padding-bottom: 35px;

  @media (min-width: $tablet-width) {
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 30px;
  }
}

.advantages__title--contrast {
  padding-top: 26px;
  padding-bottom: 11px;

  @media (min-width: $tablet-width) {
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.advantages__title--contrast2 {
  padding-top: 5px;
  padding-bottom: 17px;
}

.advantages__info--contrast2 {
  @media (min-width: $tablet-width) {
    padding-left: 40px;
    padding-right: 40px;
  }
}

.advantages__item-wrapper {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 18px;
  padding-right: 18px;

  @media (min-width: $tablet-width) {
    text-align: center;
    min-height: 205px;
    flex: 0 0 256px;
    padding-top: 48px;
    padding-left: 1px;
    padding-right: 1px;
    padding-bottom: 10px;
  }

  @media (min-width: $desktop-width) {
    width: 400px;
    flex: 0 0 400px;
  }
}

.advantages__number {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
}

.advantages__number--contrast2 {
  padding-bottom: 16px;
}

.advantages__header {
  position: relative;
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 21px;
    line-height: 26px;
  }
}

.advantages__item--contrast {
  color: #ffffff;
  background-color: $primary;

  @media (min-width: $tablet-width) {
    display: flex;
    min-height: 256px;
    width: 100%;
  }
}

.advantages__number--contrast {
  padding-bottom: 15px;

  @media (min-width: $tablet-width) {
    padding-bottom: 25px;
  }
}

.advantages__info--contrast {
  padding-bottom: 8px;

  @media (min-width: $tablet-width) {
    padding-bottom: 0;
  }
}

.advantages__item-wrapper-plus {
  padding-top: 30px;
  padding-left: 65px;
  padding-right: 18px;

  @media (min-width: $tablet-width) {
    padding-top: 53px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 60px;
    width: 256px;
  }
}

.advantages__title-plus {
  padding-bottom: 19px;

  @media (min-width: $tablet-width) {
    padding-bottom: 25px;
  }
}

.advantages__info-plus {
  padding-bottom: 44px;

  @media (min-width: $tablet-width) {
    padding-bottom: 0;
  }
}


.advantages__description {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
}

.advantages__header-plus {
  text-align: left;

  @media (min-width: $tablet-width) {
    text-align: center;
    font-size: 21px;
    line-height: 26px;
  }
}

.advantages__description-plus {
  text-align: left;

  @media (min-width: $tablet-width) {
    text-align: center;
  }
}

.advantages__item-wrapper-gray {
  padding-top: 26px;
  padding-left: 18px;
  padding-right: 18px;

  @media (min-width: $tablet-width) {
    padding-top: 41px;
    min-height: 256px;
    width: 256px;
  }
}

.advantages__title-gray {
  padding-bottom: 11px;
}

.advantages__title-gray--top {
  @media (min-width: $tablet-width) {
    padding-top: 11px;
  }
}

.advantages__info-gray {
  padding-top: 15px;
  padding-bottom: 25px;

  @media (min-width: $tablet-width) {
    padding-top: 26px;
  }
}

.advantages__image {
  display: block;

  @media (min-width: $tablet-width) {
    width: 100%;
    object-fit: unset;
    height: 256px;
  }
}

.advantages__icon-home {
  position: absolute;
  left: -50px;
  top: -10px;
  display: block;
  background-image: url("../img/icon-house.svg");
  background-repeat: no-repeat;
  min-height: 40px;
  min-width: 40px;

  @media (min-width: $tablet-width) {
    position: static;
    text-align: center;
    background-size: contain;
    background-position: center;
    margin-bottom: 26px;
    min-height: 77px;
    min-width: 77px;
  }
}

.advantages__icon-food {
  position: absolute;
  left: -46px;
  top: -8px;
  display: block;
  background-image: url("../img/icon-burger.svg");
  background-repeat: no-repeat;
  min-height: 40px;
  min-width: 40px;

  @media (min-width: $tablet-width) {
    position: static;
    text-align: center;
    background-position: center;
    background-size: contain;
    margin-bottom: 26px;
    min-height: 77px;
    min-width: 77px;
  }
}

.advantages__icon-gift {
  position: absolute;
  left: -42px;
  top: -7px;
  display: block;
  background-image: url("../img/icon-gift.svg");
  background-repeat: no-repeat;
  min-height: 40px;
  min-width: 40px;

  @media (min-width: $tablet-width) {
    position: static;
    text-align: center;
    background-position: center;
    background-size: contain;
    margin-bottom: 26px;
    min-height: 77px;
    min-width: 77px;
  }
}

.advantages__additional {
  background-color: #eeeeee;
}

.advantages__additional--line::after {
  content: "";
  display: block;
  width: 284px;
  height: 1px;
  margin-right: 18px;
  margin-left: 18px;
  background-color: #d6d6d6;

  @media (min-width: $tablet-width) {
    content: none;
  }
}

.breaker {
  display: block;

  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.breaker--desktop {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }

  @media (min-width: $desktop-width) {
    display: block;
  }
}
