.button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-family: inherit;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  border: none;
}
