.catalog__main-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.catalog__wrapper {
  list-style: none;
}

.catalog__list {
  margin: 0;
  list-style: none;
  padding-left: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    padding-left: 60px;
    padding-right: 60px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
    padding-right: 0;
  }
}

.catalog__item {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 24px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 21px;
  border-bottom: 1px solid #d6d6d6;

  @media (min-width: $tablet-width) {
    border-bottom: none;
    padding: 0;
    min-height: 267px;
    width: 50%;
  }

  @media (min-width: $desktop-width) {
    width: 33.3%;
    padding: 0;
    height: 267px;
  }
}

.catalog__item-first {
  @media (min-width: $tablet-width) {
    width: 768px;
    min-height: 480px;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
    min-height: 400px;
  }
}

.catalog__rate-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  gap: 16px;
  padding-top: 10px;

  @media (min-width: $tablet-width) {
    justify-content: flex-end;
  }

  @media (min-width: $desktop-width) {
    gap: 10px;
  }
}

.catalog__table {
  @media (min-width: $tablet-width) {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    background-color: $secondary;
    height: 83px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    bottom: 0;
  }
}

.catalog__table--active {
  @media (min-width: $tablet-width) {
    background-color: $secondary_hover;
  }

  @media (min-width: $desktop-width) {
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.catalog__header {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 21px;
  }

  @media (min-width: $desktop-width) {
    color: #ffffff;
  }
}

.catalog__description {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;

  @media (min-width: $desktop-width) {
    color: #ffffff;
  }
}

.catalog__image {
  display: block;

  @media (min-width: $tablet-width) {
    width: 100%;
    height: 267px;
    object-fit: unset;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    height: 267px;
    object-fit: unset;
  }
}

.catalog__image-first {
  @media (min-width: $tablet-width) {
    width: 100%;
    height: 400px;
    object-fit: unset;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    height: 400px;
    object-fit: unset;
  }
}

.catalog__icon {
  fill: #000000;
  opacity: 0.3;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    fill: #000000;
    opacity: 0.3;
  }

  @media (min-width: $desktop-width) {
    fill: #ffffff;
    opacity: 0.9;
  }
}

.catalog__rate {
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;

  @media (min-width: $desktop-width) {
    color: #ffffff;
  }
}

.catalog__title {
  padding-top: 15px;
  padding-left: 0;
  padding-right: auto;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}
