.catalog-video__wraper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;

  @media (min-width: $tablet-width) {
    justify-content: flex-start;
    min-height: 648px;
    min-width: 760px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    width: 800px;
    margin: 0 auto;
  }
}

.catalog-video__title {
  padding-top: 19px;
  padding-left: 18px;
  padding-right: 18px;
  padding-bottom: 26px;

  @media (min-width: $tablet-width) {
    padding-top: 62px;
    padding-bottom: 38px;
  }
}

.catalog-video__info {
  padding-left: 38px;
  padding-right: 38px;
  padding-bottom: 38px;

  @media (min-width: $tablet-width) {
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 70px;
  }
}

.catalog-video__header {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 26px;
  }
}

.catalog-video__description {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 21px;
    line-height: 26px;
  }
}

.catalog-video__image {
  display: block;
}

.catalog-video__icon {
  position: absolute;
  top: 235px;
  z-index: 1;
  min-height: 54px;
  min-width: 48px;
  background-image: url("../img/icon-video.svg");
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    top: 455px;
  }
}
