.catalog__main-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.catalog__wrapper {
  list-style: none;
}

.catalog__list {
  margin: 0;
  list-style: none;
  padding-left: 0;
}

.catalog__item {
  display: flex;
  flex-direction: column;
  padding-top: 24px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 25px;
  border-bottom: 1px solid #d6d6d6;
}

@media (min-width: $tablet-width) {
  .catalog__item {
    padding: 0;
    width: 50%;
  }
}

@media (min-width: $desktop-width) {
  .catalog__item {
    width: 33.3%;
    padding: 0;
  }
}

@media (min-width: $tablet-width) {
  .catalog__item-first {
    width: 768px;
  }
}

@media (min-width: $desktop-width) {
  .catalog__item-first {
    width: 1200px;
  }
}

.catalog__rate-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  gap: 16px;
  padding-top: 16px;
}

@media (min-width: $tablet-width) {
  .catalog__list {
    display: flex;
    flex-wrap: wrap;
  }
}

@media (min-width: $desktop-width) {
  .catalog__list {
    display: flex;
    flex-wrap: wrap;
  }
}

@media (min-width: $tablet-width) {
  .catalog__table {
    padding-top: 22px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 25px;
  }
}

.catalog__image {
  width: 100%;
}

.catalog__icon {
  min-height: 25px;
  min-width: 25px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../img/like-icon.svg");
}

.catalog__rate {
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
}

.catalog__title {
  padding-top: 15px;
  padding-left: 0;
  padding-right: auto;
}
