.catalog__main-title {
    padding-top: 35px;
    padding-left: 18px;
    padding-right: 18px;
    padding-bottom: 28px;
}

.catalog__main-info {    
    padding-left: 18px;
    padding-right: 18px;
    padding-bottom: 40px;
    border-bottom: 1px solid #d6d6d6;
}

.catalog__header {   
    margin: 0;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    text-transform: uppercase;   
}

.catalog__description {
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;    
}