.form__legend {
  position: relative;
  margin: 0;
  padding-top: 24px;

  @media (min-width: $tablet-width) {
    font-size: 21px;
    line-height: 26px;
    padding-bottom: 26px;
  }
}

.form__legend--line::before {
  @media (min-width: $tablet-width) {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    height: 1px;
    width: 123px;
    background-color: #d6d6d6;
    z-index: 1;
  }

  @media (min-width: $desktop-width) {
    width: 280px;
  }
}

.form__container {
  @media (min-width: $desktop-width) {
    width: 1000px;
  }
}

.form__legend--line::after {
  @media (min-width: $tablet-width) {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    height: 1px;
    width: 123px;
    background-color: #d6d6d6;
    z-index: 1;
  }

  @media (min-width: $desktop-width) {
    width: 280px;
  }
}

.feedback__info {
  @media (min-width: $tablet-width) {
    border: none;
  }
}

.form {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    padding-left: 20px;
    padding-right: 20px;
    width: $tablet-width;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
    width: 1100px;
  }
}

.feedback__header {
  @media (min-width: $tablet-width) {
    font-weight: 700;
    font-size: 30px;
    line-height: 26px;
  }
}

.feedback__description {
  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 24px;
  }
}

.form__name {
  margin: 0;
  border: none;
  display: flex;
  flex-direction: column;
  min-width: 280px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $tablet-width) {
    padding-top: 48px;
    padding-left: 43px;
    padding-right: 43px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 63px;
    padding-right: 63px;
  }
}

.form__name--bottom-border {
  border-bottom: 1px solid #d6d6d6;

  @media (min-width: $tablet-width) {
    border-bottom: none;
  }
}

.form__name--right-border {
  @media (min-width: $tablet-width) {
    border-right: 1px solid #d6d6d6;
  }
}

.form__phone-icon {
  min-height: 58px;
  min-width: 58px;
  background-color: #e6e6e6;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../img/phone.svg");
}

.form__email-icon {
  min-height: 58px;
  min-width: 58px;
  background-color: #e6e6e6;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../img/mail.svg");
}

.input__wrapper {
  display: flex;
  justify-content: flex-end;
}

.form__list {
  padding-left: 0;
  margin: 0;
}

.form__item {
  margin: 0;
  list-style: none;
  padding-left: 0;
}

.form__label {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  padding-left: 16px;
  color: #333333;
}

.form__label--center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form__label--space {
  padding-top: 16px;
}

.form__label-check {
  position: relative;
  display: flex;
  justify-content: flex-start;
  gap: 16px;
  align-items: center;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  padding-bottom: 16px;
  text-transform: capitalize;
}

// check-box
.form__input {
  width: 44px;
  min-height: 44px;
  margin-left: -15px;
}

.form__item-mark {
  position: absolute;
  top: 2px;
  left: 0;
  width: 46px;
  height: 46px;
  border-radius: 4px;
  background-color: $secondary;
  border: 2px solid $secondary;

  &:hover {
    background-color: $secondary_hover;
  }

  &:active {
    background-color: $secondary_active;
  }
}

.form__input[type="checkbox"]:checked + .form__item-mark::before,
.form__input[type="checkbox"]:checked + .form__item-mark::after {
  position: absolute;
  top: 8px;
  left: 11px;
  width: 0;
  height: 2px;
  content: url("../img/tick.svg");
  fill: #f40909;
}

// radio
.form__input[type="radio"] + .form__item-mark {
  border-radius: 50%;
}

.form__input[type="radio"]:checked + .form__item-mark::before {
  position: absolute;
  top: 13px;
  left: 13px;
  width: 16px;
  height: 16px;
  background-color: #333333;
  border-radius: 50%;
  content: "";
}

.form__item-feedback {
  @media (min-width: $tablet-width) {
    display: flex;
    width: 250px;
  }
}

.form__list-feedback {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    column-gap: 35px;
    height: 132px;
    width: 648px;
  }

  @media (min-width: $desktop-width) {
    column-gap: 20px;
    width: 960px;
    height: 90px;
  }
}

// button
.form__feedback-button {
  background-color: $primary;
  width: 100%;
  min-height: 58px;
  margin-top: 56px;

  &:hover {
    background-color: $primary_hover;
  }

  &:active {
    background-color: $primary_active;
    color: rgba(255, 255, 255, 0.3);
  }

  @media (min-width: $tablet-width) {
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    margin-left: 115px;
  }

  &:disabled {
    background-color: $secondary_hover;
    color: #ffffff;
  }
}

// info
.form__note {
  display: flex;
  justify-content: flex-end;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 384px;
  }
}

.form__name-wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    column-gap: 112px;
  }

  @media (min-width: $desktop-width) {
    justify-self: center;
    column-gap: 221px;
  }
}
