$current:#766357;

.hero {
  display: flex;
  flex-direction: column;
  background-color: $current;
  padding-top: 85px;
  padding-left: 19px;
  padding-right: 19px;
  padding-bottom: 85px;
  background-image: url("../img/intro-triangle.svg"),
    url("../img/back-mobile.jpg");
  background-position: bottom, top;
  background-size: 100% auto;
  background-repeat: no-repeat;
}
