.hero {
  display: flex;
  flex-direction: column;
  background-color: $secondary;
  min-height: 389px;
  justify-content: center;
  align-items: center;
  background-image: url("../img/intro-triangle.svg"),
    url("../img/index/back-mobile.jpg");
  background-position: bottom, top;
  background-size: 172% auto, 100% auto;
  background-repeat: no-repeat;
  width: 320px;
  margin: 0, auto;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/intro-triangle.svg"),
      url("../img/index/back-mobile@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../img/intro-triangle.svg"),
      url("../img/index/back-tablet-1x.jpg");
    background-position: bottom, top;
    background-size: 156% auto, 100% auto;
    background-repeat: no-repeat;
    min-height: 518px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/intro-triangle.svg"),
        url("../img/index/back-tablet@2x.jpg");
      background-size: 768px auto;
    }
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../img/intro-triangle.svg"),
      url("../img/index/back-desktop@1x.jpg");
    background-position: bottom, center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    min-height: 518px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/intro-triangle.svg"),
        url("../img/index/back-desktop@2x.jpg");
      background-size: 100% auto;
    }
  }
}

.hero__image {
  margin-left: auto;
  margin-right: auto;

  @media (min-width: $tablet-width) {
    width: 461px;
    height: 350px;
  }
}
