.input {
  background-color: $secondary;
  border: none;
  min-height: 58px;
  min-width: 280px;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  padding-left: 16px;
}

.input__contact {  
  min-height: 58px;
  min-width: 222px;
  color: rgba($color: #000000, $alpha: 0.3);
}

.field {
  background-color: $secondary;
  border: none;
  min-height: 150px;
  min-width: 280px;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  padding: 16px;
}