.input {
  background-color: $secondary;
  border: none;
  min-height: 58px;
  min-width: 280px;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  padding-left: 16px;
  padding-right: 10px;

  @media (min-width: $tablet-width) {
    min-width: 280px;
  }

  @media (min-width: $desktop-width) {
    min-width: 432px;
  }

  &:hover {
    background-color: $secondary_hover;
  }

  &:focus {
    background-color: #ffffff;
    border: 4px solid $secondary_hover;
    outline: none;
    padding-left: 12px;
  }

  &:disabled {
    background-color: $secondary_hover;
    color: #ffffff;
  }
}

.input::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.field {
  background-color: $secondary;
  border: none;
  min-height: 155px;
  min-width: 280px;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  padding: 16px;

  &:focus {
    padding-top: 12px;
  }

  @media (min-width: $tablet-width) {
    width: 648px;
  }

  @media (min-width: $desktop-width) {
    width: 768px;
  }
}

.form__input--contact {
  min-height: 58px;
  min-width: 222px;
  color: #000000;

  @media (min-width: $desktop-width) {
    min-width: 344px;
  }
}
