.main-footer__wrapper {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  padding-top: 43px;
  padding-left: 18px;
  padding-right: 18px;
  padding-bottom: 20px;
  width: 320px;
  min-height: 233px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 auto;
    width: 100%;
    padding-top: 6px;
    padding-bottom: 26px;
    padding-right: 19px;
    padding-left: 6px;
    min-height: 120px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 119px;
    padding-right: 134px;
    justify-content: space-between;
    width: 100%;
  }
}

.main-footer__wrapper--catalog {
  padding-top: 16px;
  padding-left: 18px;
  padding-right: 18px;
  padding-bottom: 31px;

  @media (min-width: $tablet-width) {
    padding-top: 35px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 18px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 79px;
    padding-left: 118px;
    padding-right: 122px;
    padding-bottom: 20px;
  }
}

.main-footer__wrapper--form {
  @media (min-width: $tablet-width) {
    padding-left: 5px;
    padding-right: 0;
  }

  @media (min-width: $desktop-width) {
    padding-top: 8px;
    padding-left: 118px;
    padding-right: 116px;
  }
}

.social__title {
  margin: 0;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;

  &:hover {
    color: $primary;
  }

  &:active {
    color: #d3d3d3;
  }

  @media (min-width: $tablet-width) {
    margin-top: 17px;
  }
}

.social__list {
  display: flex;
  min-width: 156px;
  justify-content: space-between;
  padding-left: 0;
  align-items: center;
  list-style: none;
  margin-top: 32px;

  @media (min-width: $tablet-width) {
    margin-left: 12px;
  }
}

.social__list--form {
  @media (min-width: $tablet-width) {
    margin-left: -5px;
  }
}

.social__list--catalog {
  @media (min-width: $tablet-width) {
    margin-left: -8px;
  }
}


.social__link {
  display: flex;
  min-height: 48px;
  min-width: 48px;
  align-items: center;
  justify-content: center;
  background-color: $primary;
  cursor: pointer;

  &:hover {
    background-color: $primary_hover;
  }

  &:active {
    background-color: $primary_active;
    fill-opacity: 0.3;
  }
}


.main-footer__copyright {
  margin-top: 22px;
  display: flex;
  gap: 12px;

  @media (min-width: $tablet-width) {
    margin-top: 14px;
    margin-right: 5px;
  }
}

.logo-html {
  margin-left: 12px;
}

.copyright__link {
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
  fill: #000000;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;


  &:hover {
    fill: $primary;
    color: $primary;
  }

  &:active {
    fill: #d3d3d3;
    color: #d3d3d3;
  }
}

.copyright--catalog {
  @media (min-width: $tablet-width) {
    margin-top: 14px;
    margin-right: 0;
  }
}
