.main-footer__wrapper {
  background-color: #ffa500;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  padding-top: 30px;
  padding-left: 18px;
  padding-right: 18px;
  padding-bottom: 23px;
  width: 320px;
}

@media (min-width: $tablet-width) {
  .main-footer__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    padding-top: 30px;
    padding-left: 18px;
    padding-right: 18px;
    padding-bottom: 23px;
    width: $tablet-width;
    min-height: 120px;
  }
}

@media (min-width: $desktop-width) {
  .main-footer__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    padding-top: 30px;
    padding-left: 18px;
    padding-right: 18px;
    padding-bottom: 23px;
    min-height: 120px;
    width: $desktop-width;
  }
}

.social__title {
  margin: 0;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.social__list {
  display: flex;
  min-width: 156px;
  margin: 0;
  justify-content: space-between;
  padding-left: 0;
  align-items: center;
  list-style: none;
  margin-top: 38px;
}

@media (min-width: $tablet-width) {
  .social__list {
    margin-top: 0;
  }
}

@media (min-width: $desktop-width) {
  .social__list {
    margin-top: 0;
  }
}

.social__link {
  display: flex;
  min-height: 48px;
  min-width: 48px;
  align-items: center;
  justify-content: center;
  background-color: $primary;
  cursor: pointer;
}

.main-footer__copyright {
  margin-top: 38px;
  display: flex;
  gap: 12px;
}

@media (min-width: $tablet-width) {
  .main-footer__copyright {
    margin-top: 0;
  }
}

@media (min-width: $desktop-width) {
  .main-footer__copyright {
    margin-top: 0;
  }
}

.copyright__text {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.copyright__link {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
