.main-nav__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.site-list {
  display: none;
}

@media (min-width: $tablet-width) {
  .site-list {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: $desktop-width) {
  .site-list {
    display: flex;
    justify-content: space-between;
  }
}


// Burger button
.main-nav__toggle {
  background-color: #ffffff;
  min-height: 60px;
  min-width: 60px;
  background-image: url("../img/icon-menu.svg");
  background-repeat: no-repeat;
  background-position: center;
}

@media (min-width: $tablet-width) {
  .main-nav__toggle {
    display: none;
  }
}
