.main-header {
  width: 320px;
  background-color: #ff6347;
  min-height: 56px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .main-header {
    display: grid;
    grid-template-columns: repeat(5, 153px);
    min-height: 56px;
    width: 768px;
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .main-header {
    min-height: 56px;
    width: 1200px;
    margin: 0 auto;
  }
}

.main-header__logo {
  margin-left: 67px;
  margin-bottom: -40px;
  z-index: 1;
}

@media (min-width: $tablet-width) {
  .main-header__logo {
    z-index: 1;
  }
}

@media (min-width: $desktop-width) {
  .main-header__logo {
    z-index: 1;
  }
}
