.map__wrapper {
  overflow: hidden;
  padding-bottom: 100%;
  position: relative;
  height: 0;
  min-height: 350px;


  @media (min-width: $tablet-width) {
    overflow: hidden;
    padding-bottom: 0;
    position: relative;
  }
}

.map__wrapper iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}
