.modal-info__wrapper {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.modal-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    margin: auto;
    padding: 45px 41px 45px 41px;
    background-color: #ffffff;
    width: $width;
    box-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15);
}

.modal-info__header {
    margin: 0;
    font-family: inherit;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    text-transform: uppercase;
}

.modal-info__description {
    margin: 0;
    font-family: inherit;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    text-align: center;
}

.modal-info__title {
    padding-bottom: 25px;
}

.modal-info__info {
  padding-bottom: 25px;  
}

.modal-info__button {
    background-color: $primary;
    width: 180px;
    min-height: 58px;   
}

// Modal_ON/OFF 
.modal-info--close {
    display: none;
  }