.modal-error___wrapper {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.modal-error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 45px 41px 40px 41px;
  background-color: #ffffff;
  width: $width;
  min-height: 280px;
  box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);

  @media (min-width: $tablet-width) {
    width: 400px;
  }
}

.modal-error__header {
  margin: 0;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 40px;
    padding-left: 50px;
    padding-right: 50px;
  }
}

.modal-error__description {
  margin: 0;
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 21px;
  }
}

.modal-error__title {
  padding-bottom: 25px;
}

.modal-error__info {
  padding-bottom: 25px;

  @media (min-width: $tablet-width) {
    padding-bottom: 45px;
  }
}

.modal-error__button {
  background-color: $primary;
  width: 180px;
  min-height: 58px;

  @media (min-width: $tablet-width) {
    width: 272px;
  }
}

// Modal_ON/OFF
.modal-error--close {
  display: none;
}
