.modal-info__wrapper {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.modal-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 45px 41px 45px 41px;
  background-color: #ffffff;
  width: $width;
  box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);

  @media (min-width: $tablet-width) {
    width: 640px;
    padding: 0;
  }
}

.modal-info__header {
  margin: 0;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    padding-top: 52px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 30px;
    line-height: 40px;
  }
}

.modal-info__description {
  margin: 0;
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding-top: 37px;
    padding-left: 99px;
    padding-right: 99px;
    padding-bottom: 57px;
    font-size: 21px;
    line-height: 26px;
  }
}

.modal-info__title {
  padding-bottom: 25px;
}

.modal-info__info {
  padding-bottom: 25px;
}

.modal-info__button {
  background-color: $primary;
  width: 180px;
  min-height: 58px;

  @media (min-width: $tablet-width) {
    width: 458px;
  }
}

.modal-info__button-wrapper {
  @media (min-width: $tablet-width) {
    background-color: #f2f2f2;
    width: 640px;
    height: 146px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

// Modal_ON/OFF
.modal-info--close {
  display: none;
}
