.search {
  padding-top: 38px;
  padding-left: 18px;
  padding-right: 18px;
  padding-bottom: 35px;
}

.search__wrapper {
  display: flex;
  flex-direction: column;
}

.search__header {
  margin: 0;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
}

.search__description {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
  padding-top: 38px;
  padding-bottom: 32px;
}

.search__button {
  background-color: $primary;
  width: 100%;
  min-height: 58px;
}
