.search {
  padding-top: 38px;
  padding-left: 18px;
  padding-right: 18px;
  padding-bottom: 35px;
  min-height: 287px;
}

.search__wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 155px;
    padding-right: 155px;
  }

  @media (min-width: $desktop-width) {
    min-height: 300px;
    padding-left: 371px;
    padding-right: 371px;
  }
}

.search__header {
  margin: 0;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 30px;
  }
}

.search__description {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
  padding-top: 38px;
  padding-bottom: 32px;

  @media (min-width: $tablet-width) {
    font-size: 21px;
    line-height: 26px;
  }
}

.search__button {
  background-color: $primary;
  width: 100%;
  min-height: 58px;

  &:hover {
    background-color: $primary_hover;
  }

  &:active {
    background-color: $primary_active;
    color: rgba(255, 255, 255, 0.3);
  }

  &:disabled {
    background-color: $secondary_hover;
    color: #ffffff;
  }
}
